language: java
jdk: 
  - oraclejdk7
  
# whitelist
branches:
  only:
    - master
addons: 
  postgresql: "9.3"
before_script: 
  - psql -c 'create database webkochbuch;' -U postgres
  - mkdir -p /tmp/webkochbuch/uploads
  - mkdir -p /tmp/webkochbuch/searchindex
after_success: 
  - "curl localhost:80/search/createindex"
env:
 global:
  - DATABASE_URL="postgres://postgres:@localhost/webkochbuch" WEBKOCHBUCH_UPLOADS_DESTINATION=/tmp/webkochbuch/uploads/ LUCENE_INDEX_LOCATION=/tmp/webkochbuch/searchindex